html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  background-color: #000000;
}

.container{
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 30px auto;   /* Giving blank spcae using margins */
}

.title{
  margin: 20px auto;
  align-content: center;
}

input{
  color: #432000;
  background-color: #DCE1EB;
  border: 0;
  padding: 10px;    /* Make the input box fatter with padding */
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  margin: 20px 0;
}


button{
  color: #FFFFFF;
  background-color: #94B3FC;
  border: 0;
  padding: 8px;    /* Make the input box fatter with padding */
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  font-family: 'Rubik', sans-serif;

}


#todoodle-list li {
  margin: 14px 0;
  list-style-type: none; 
  position: relative;
  cursor: pointer;
  user-select: none;
}

#todoodle-list li::before {
  content: ""; 
  position: absolute;
  width: 18px; /* Adjust the width to make the circle bigger */
  height: 18px; /* Adjust the height to make the circle bigger */
  border-radius: 50%; /* Make the shape a circle */
  background-image: url(images/unchecked.png);
  background-size: cover;
  background-position: center;
  left: -30px;
}

#todoodle-list li.checked {
  color: #555;
  text-decoration: line-through;
}

#todoodle-list li.checked::before {
  background-image: url(images/checked.png);
}

#todoodle-list li span {
  position: absolute;
  width: 40px;
  height: 40px;
  font-size: 20px;
  right: 0;
  color: #FFFFFF;
  text-align: center;
}
